{% extends 'base.html'%}
{% block content%}
<div class="container" id="posts">
    {% for post in posts %}
    <div class="card p-5">
        <div class="row-cols-4">
            <div class="col-lg-2 col-md-3 col-sm-3 col-4 d-flex justify-content-center">
                <br>
                <img style="border-radius: 50px;" class="rounded-circle" width="100px" height="100px" src="{{url_for('static',filename= post.author.profile_pic_path)}}" alt="">
                <div class="card-title">
                <h3 ><a style="color: rgb(23, 116, 116); font-weight: 700;" href="{{url_for('main.post',post_id = post.id)}}">{{post.title}}</a></h3>
            </div>
            <div class="card-text">
                <p>{{post.content}}</p>
            </div>
            <div class="card-footer">
                <h5><span>By:</span>{{post.author.username|title()}}</h5>
                <p><span> Date posted:</span>{{post.date_posted.strftime("%Y-%m-%d")}}</p>
            </div>
            <a href="{{url_for('main.comment',post_id = post.id)}}" class="btn btn-info btn-sm m-10"> Comments</a>
            </div>
        </div>
    </div>
    {% endfor%}
</div>
{% endblock %}

