{% extends 'base.html'%}
{% block content%}
<div class="container" id="posts">
    <div class="card p-5">
        <div class="row-cols-4">
            <div class="col-lg-2 col-md-3 col-sm-3 col-4 d-flex justify-content-center">
                <img class="rounded-circle" src="{{url_for('static',filename= post.author.profile_pic_path)}}" alt="">
            <div class="card-title">
                <h3 style="color: rgb(23, 116, 116); font-weight: 700;">{{post.title}}</h3>
            </div>
            <div class="card-text">
                <p>{{post.content}}</p>
            </div>
            <div class="card-footer">
                <h5><span>By:</span>{{post.author.username|title()}}</h5>
                <p><span> Date posted:</span>{{post.date_posted.strftime("%Y-%m-%d")}}</p>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

